style={{ .chezmoi.homeDir }}/.config/wofi/nord.css
exec_search=true

always_parse_args=true

show=drun,run


# UX
#width=45%
#height=40%
location=center
gtk_dark=true
hide_scroll=true
insensitive=true
matching=fuzzy
filter_rate=80
dynamic_lines=true
layer=overlay
allow_images=true
image_size=28

# Run-mode: argumenty po spacji jako args (przydatne przy run/combi)
run-always_parse_args=true
