{
    "plantuml.jar": "{{ .plantumlJarPath }}",
    "workbench.settings.applyToAllProfiles": [
        "plantuml.jar"
    ],
    "latex-workshop.view.pdf.invertMode.enabled": "always",
    "latex-workshop.view.pdf.invert": 1,
}