{
    "plantuml.jar": "{{ .plantumlJarPath }}",
    "workbench.settings.applyToAllProfiles": [
        "plantuml.jar"
    ],
    "latex-workshop.view.pdf.invertMode.enabled": "always",
    "latex-workshop.view.pdf.invert": 1,
    "redhat.telemetry.enabled": false,
    "claudeCode.preferredLocation": "panel",
    "workbench.colorTheme": "Bluloco Light",
    "nightswitch.themeDay": "Bluloco Light",
    "nightswitch.themeNight": "Dark Modern",
    "nightswitch.sunrise": "09:00",
    "nightswitch.sunset": "17:00",
    "nightswitch.autoSwitch": true,
    "editor.mouseWheelZoom": true,
    "editor.wordWrap": "on",
    "workbench.editorAssociations": {
        "*.pdf": "latex-workshop-pdf-hook"
    },
    "todo-tree.ripgrep.ripgrep": "/usr/bin/rg",
    "cSpell.enabled": true,
    "cSpell.language": "en,pl",
    "cSpell.userWords": [
        "wdrożenie"
    ],
}
