{
    "auto-change": {
        "enable": false,
        "wm_class": "",
        "title": "",
        "stay_on_page": true
    },
    "keys": {
        "0x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_DeckPlugin::ChangePage",
                            "settings": {
                                "selected_page": "{{ .chezmoi.homeDir }}/.var/app/com.core447.StreamController/data/pages/Volume controll.json",
                                "deck_number": null
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "4x1": {
            "states": {
                "0": {
                    "background": {
                        "color": [
                            0,
                            0,
                            0,
                            0
                        ]
                    },
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::Hotkey",
                            "settings": {
                                "keys": [
                                    [
                                        52,
                                        1
                                    ],
                                    [
                                        52,
                                        0
                                    ]
                                ]
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "center": {
                            "text": ">"
                        }
                    }
                }
            }
        },
        "4x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_DeckPlugin::ChangePage",
                            "settings": {
                                "selected_page": "{{ .chezmoi.homeDir }}/.var/app/com.core447.StreamController/data/pages/OBS.json",
                                "deck_number": null
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "1x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::Previous",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "com.github.th_ch.youtube_music"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "2x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::PlayPause",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "com.github.th_ch.youtube_music"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "3x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::Next",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "com.github.th_ch.youtube_music"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "1x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::Previous",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "Brave"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "3x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::Next",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "Brave"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "1x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::Previous",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "Spotube"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "2x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::PlayPause",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "Spotube"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "3x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::Next",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "Spotube"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "2x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_MediaPlugin::PlayPause",
                            "settings": {
                                "show_label": true,
                                "show_thumbnail": true,
                                "player_name": "Brave"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "0x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::Hotkey",
                            "settings": {
                                "keys": [
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ]
                                ]
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "center": {
                            "text": "<"
                        }
                    }
                }
            }
        },
        "4x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::Hotkey",
                            "settings": {
                                "keys": [
                                    [
                                        39,
                                        1
                                    ],
                                    [
                                        39,
                                        0
                                    ]
                                ]
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "center": {
                            "text": "x2"
                        }
                    }
                }
            }
        },
        "0x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::Hotkey",
                            "settings": {
                                "keys": [
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ]
                                ]
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "center": {
                            "text": "x1"
                        }
                    }
                }
            }
        }
    }
}