{
    "keys": {
        "0x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_DeckPlugin::ChangePage",
                            "settings": {
                                "selected_page": "{{ .chezmoi.homeDir }}/.var/app/com.core447.StreamController/data/pages/System state.json",
                                "deck_number": null
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "1x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::RunCommand",
                            "settings": {
                                "command": "~/.config/display/gaming.sh"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "top": {
                            "text": "Gaming",
                            "outline_width": 5
                        }
                    }
                }
            }
        },
        "2x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::RunCommand",
                            "settings": {
                                "command": "~/.config/display/triple.sh"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "top": {
                            "text": "Triple",
                            "outline_width": 5
                        }
                    }
                }
            }
        },
        "3x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::RunCommand",
                            "settings": {
                                "command": "~/.config/display/multitask.sh"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "top": {
                            "text": "Multitask",
                            "outline_width": 5
                        }
                    }
                }
            }
        },
        "0x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::RunCommand",
                            "settings": {
                                "command": "~/.config/display/dual.sh"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "top": {
                            "text": "Semi ",
                            "outline_width": 5
                        },
                        "center": {
                            "text": "Game",
                            "outline_width": 5
                        }
                    }
                }
            }
        },
        "0x1": {},
        "4x0": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::RunCommand",
                            "settings": {
                                "command": "~/.config/display/triple-top.sh"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "top": {
                            "text": "G\u00f3ra",
                            "outline_width": 3
                        },
                        "center": {
                            "text": "Triple"
                        }
                    }
                }
            }
        },
        "1x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "dev_core447_Template::ToggleState",
                            "settings": {
                                "vm_name": "manjaro-2",
                                "uri": "qemu:///system"
                            },
                            "comment": ""
                        }
                    ],
                    "image-control-action": null,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "background": {
                        "color": [
                            51,
                            209,
                            122,
                            255
                        ]
                    },
                    "labels": {
                        "center": {
                            "text": "Manjaro"
                        },
                        "bottom": {
                            "text": "VM"
                        }
                    }
                }
            }
        },
        "2x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "dev_core447_Template::ToggleState",
                            "settings": {
                                "vm_name": "win11",
                                "uri": "qemu:///system"
                            },
                            "comment": ""
                        }
                    ],
                    "image-control-action": null,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "background": {
                        "color": [
                            51,
                            209,
                            122,
                            255
                        ]
                    },
                    "labels": {
                        "center": {
                            "text": "W11"
                        },
                        "bottom": {
                            "text": "VM"
                        }
                    }
                }
            }
        },
        "3x2": {},
        "4x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::Hotkey",
                            "settings": {
                                "keys": [
                                    [
                                        29,
                                        1
                                    ],
                                    [
                                        125,
                                        1
                                    ],
                                    [
                                        51,
                                        1
                                    ],
                                    [
                                        51,
                                        0
                                    ],
                                    [
                                        29,
                                        0
                                    ],
                                    [
                                        125,
                                        0
                                    ]
                                ],
                                "repeat": false,
                                "hold_until_release": true
                            }
                        }
                    ],
                    "image-control-action": null,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "center": {
                            "text": "^"
                        }
                    }
                }
            }
        },
        "4x2": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_core447_OSPlugin::Hotkey",
                            "settings": {
                                "keys": [
                                    [
                                        29,
                                        1
                                    ],
                                    [
                                        125,
                                        1
                                    ],
                                    [
                                        50,
                                        1
                                    ],
                                    [
                                        50,
                                        0
                                    ],
                                    [
                                        125,
                                        0
                                    ],
                                    [
                                        29,
                                        0
                                    ]
                                ],
                                "repeat": false,
                                "hold_until_release": true
                            }
                        }
                    ],
                    "image-control-action": null,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0,
                    "labels": {
                        "center": {
                            "text": "Down"
                        }
                    }
                }
            }
        },
        "1x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_gapls_AudioControl::SetDefaultDevice",
                            "settings": {
                                "pulse-name": "alsa_output.pci-0000_80_1f.3.iec958-stereo"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "2x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_gapls_AudioControl::SetDefaultDevice",
                            "settings": {
                                "pulse-name": "alsa_output.pci-0000_03_00.1.hdmi-stereo"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        },
        "3x1": {
            "states": {
                "0": {
                    "actions": [
                        {
                            "id": "com_gapls_AudioControl::SetDefaultDevice",
                            "settings": {
                                "pulse-name": "alsa_output.usb-SteelSeries_Arctis_Nova_7X-00.analog-stereo"
                            }
                        }
                    ],
                    "image-control-action": 0,
                    "label-control-actions": [
                        0,
                        0,
                        0
                    ],
                    "background-control-action": 0
                }
            }
        }
    }
}